PROJECT_ID=your-gcp-project-id
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
BQ_DATASET=marketdata
DB_ID=genasdb
MODEL=gemini-2.5-flash-lite
GOOGLE_GENAI_USE_VERTEXAI=True
SERVICE_ACCOUNT=your-service-account@your-project-id.iam.gserviceaccount.com
