google-adk==1.14.0

fastapi
uvicorn
pydantic
python-dotenv

google-cloud-logging
google-cloud-datastore
google-cloud-bigquery
google-cloud-bigquery-storage

google-auth
google-auth-httplib2

langchain-community==0.3.27
wikipedia==1.4.0
requests